<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjQxMDE5NDg0NV5BMl5BanBnXkFtZTgwNTA5MDE2NDM@._V1_UY209_CR0,0,140,209_AL_.jpg" alt="Game Night">
      <div class="caption">
        <h3>Game Night</h3>
        <p class="description">A group of friends who meet regularly for game nights find themselves trying to solve a murder mystery.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div> 
          <a href="#" class="btn btn-primary pull-right" role="button">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>